body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	background-color: #231f20;
}

header {
	width: 40%;
	margin: 50px 0;
}

nav {
	display: flex;
	justify-content: center;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin: 0 10px;
	border: none;
}

nav ul li a {
	color: #0645AD;
	padding: 10px 15px;
	border-radius: 4px;
	text-decoration: none;
	outline: none;
}

nav ul li a:hover {
	color: #ffffff;
	background-color: rgba(35, 31, 32, 0.3);
}

nav ul li a.active {
	color: #ffffff;
	background-color: #231f20;
}

label {
	display: inline-block;
	margin-bottom: 8px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

tbody tr:hover { background-color:#f5f5f5; }

#root {
	width: 1240px;
	background-color: #ffffff;
	padding: 30px;
	margin: 40px 0;
	border-radius: 7px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.btn {
	color: #ffffff;
	background-color: #231f20;
	border-radius: 4px;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
	margin-left: 10px;
	outline: none;
}

.brand {
	display: flex;
	justify-content: center;
	pointer-events: none;
	margin-bottom: 40px;
}

.brand img {
	pointer-events: none;
}

.form-group {
	width: 40%;
	margin-bottom: 50px;
}

.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 4px;
	box-sizing: border-box;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
	outline: 0;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.address p {
	margin: 0;
}

.container {
	width: 100%;
}

.perspective {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.perspective.row { flex-direction: row; }
.perspective.column { flex-direction: column; }

.box {
	flex: 1;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid;
}
